customtkinter>=5.2.2
Pillow>=10.4.0

SQLAlchemy>=2.0.35

python-dotenv>=1.0.1

bcrypt>=4.2.0

reportlab>=4.2.2
python-docx>=1.1.2
openpyxl>=3.1.5

matplotlib>=3.9.2

pandas>=2.2.3

alembic>=1.13.2

pyinstaller>=6.10.0